<div id="about">
    <h1>
        Welcome To Online Weather Forecast
    </h1>

    <p>You can use the diferrent features provided by our website </p>

    <ul>
        <li>Check Temparature of Major Cities</li>
        <li>Find Co-Ordinates of the Major Cities</li>
        <li>Find SunRise and SunSet Timings of Major Cities</li>
        <li>Find the atmospheric pressure and humidity</li>
    </ul>

    <p>The website provides the above mentioned features ...Please login to use them..</p>

    <h3>Any Queries or Suggestions Please do reach us through weatherforecast@gmail.com</h3>
</div>