<div id="air">
    <p>Welcome To Air Property Display</p>
    <h3>Select an option from the below dropdown or enter city in the input field to get the air condition of the city</h3>
<select [(ngModel)]="city" (ngModelChange)="weatherForecast()" name="cities">

    <option value="hyderabad">Hyderabad</option>
    <option value="chennai">Chennai</option>
    <option value="visakhapatnam">Vizag</option>
    <option value="vijayawada">Vijayawada </option>
    <option value="bangalore" >Bangalore</option>
    <option value="delhi">Delhi</option>
    <option value="goa">Goa</option>
    <option value="kolkata" >Kolkata</option>
    <option value="mumbai" >Mumbai</option>
</select>
<p>Enter City : <input type="text" [(ngModel)]="city" placeholder="Enter city name"></p>
<button (click)="weatherForecast()" class="air-button">Click Here for Result</button>

<h1 *ngIf="show">The City is :  <span>{{city|uppercase}}</span></h1>

<h3 *ngIf="show"> The humidity in the   {{city}} is  <span appColor> {{humidity}} %</span></h3>

<h3 *ngIf="show"> The air pressure in the  {{city}} is  <span appColor>{{pressure}} hPa</span></h3>
</div>